.flex-container {
  .player-one, .player-two {
    padding-bottom: 10px;
    h2 {
      display: inline-block;
      margin: 0;
    }

    ul {
      display: inline-block;
      margin: 0;
      padding-left: 0;
      margin-bottom: -8.4px;

      li {  
        list-style: none;
        padding: 1rem;
        margin: 0;
        border-radius: 0.5rem;
      }

      .red {
        background-color: red;
      }

      .blue {
        background-color: blue;
      }
    }
  }
  // .access-code {
  //   color: inherit;
  //   text-decoration: none;
  //   display: inline-block;
  // }

  // .access:hover {
  //   color: grey;
    
  // }

  .share, .form {
    display: inline-block;
  }

  .input-box {
    width: 150px;
  }

  .game {
    display: flex;
    flex-direction: row;

    ul {
      display: flex;
      flex-direction: column;

      li {
        list-style: none;
        padding: 2rem;
        background-color: yellow;
        margin: 0.25rem;
        border-radius: 1rem;
      }

      li.red {
        background-color: red;
      }

      li.blue {
        background-color: blue;
      }
    }
  }
}
